/* Edit; ~/.local/share/Anki2/fladrif/collection.media */
/* Note: When displaying your cards, Anki set the media folder as reference,  */
/* I.e., inclusion of images and stuff requires either an (a) absolute paths */
/* or a path relative to the media collection folder. +/
/+ Use the chrisk91.me reference below for further advice: */
/* See https://chrisk91.me/2017/12/20/Sharing-CSS-across-multiple-cards-in-Anki.html */

.card {
  padding: 1em 0;
  background-color: white;
  color: black;
  font-family: Verdana;
  font-size: 18px;
  text-align: center;
 list-style-position: inside; 
}

.type {
  margin-bottom: 0.25em;
  color: #333;
  font-size: 70%;
  font-weight: bold;
  text-transform: uppercase;
}

.info {
  max-width: 30em;
  margin: 0.5em auto;
  color: #333;
  font-size: 80%;
  font-style: italic;
}

.task {
  max-width: 30em;
  margin: 1.25em auto;
  color: #999;
  font-size: 70%;
  font-weight: bold;
  text-transform: uppercase;
}

.quest {
  max-width: 30em;
  margin: 0.5em auto;
  color: #ffe135;
  font-size: 100%;
}

.value {
  font-size: 100%;
}

.value--top {
 margin-top: 0.25em;
 font-size: 120%;
}

.night_mode .info,
.night_mode .type,
.nightMode .info,
.nightMode .type,
.nightMode .placeholder {
  color: #ccc;
}

hr {
  margin: 1.5em 0;
}

.latex { zoom: 85%; }

img[src*="latex"] {
  vertical-align: middle;
}

table {
	margin-left:auto; 
    margin-right:auto;
}
.nightMode .cloze {
 color: lightblue;
}
